@model PorwalGeneralStore.DataModel.Public.CreateStoreItem

@{
    ViewData["Title"] = "AddProduct";
}

<h2>AddProduct</h2>

<h4>CreateStoreItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ProductCategories,"Id", "CategoryName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="MainProductImage" class="control-label"></label>
                <input asp-for="MainProductImage" class="form-control" />
                <span asp-validation-for="MainProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductHeading" class="control-label"></label>
                <input asp-for="ProductHeading" class="form-control" />
                <span asp-validation-for="ProductHeading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductShortDesc" class="control-label"></label>
                <input asp-for="ProductShortDesc" class="form-control" />
                <span asp-validation-for="ProductShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFullDesc" class="control-label"></label>
                <input asp-for="ProductFullDesc" class="form-control" />
                <span asp-validation-for="ProductFullDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInStock" /> @Html.DisplayNameFor(model => model.IsInStock)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInventoryProduct" /> @Html.DisplayNameFor(model => model.IsInventoryProduct)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Upccode" class="control-label"></label>
                <input asp-for="Upccode" class="form-control" />
                <span asp-validation-for="Upccode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasVariantProduct" /> @Html.DisplayNameFor(model => model.HasVariantProduct)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActiveProduct" class="control-label"></label>
                <input asp-for="IsActiveProduct" class="form-control" />
                <span asp-validation-for="IsActiveProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
